/* Inicio del Footer */
/* Estilos para el footer */
.footer {
    background-color: #ff1ece; /* Fondo claro */
    padding: 20px; /* Espacio entre el contenido y el borde */
    text-align: center; /* Centrar el contenido */
  }
  
  /* Estilos para el menu */
  .menu {
    list-style: none; /* Quitar puntos de lista */
    margin: 0; /* Quitar margen */
    padding: 0; /* Quitar padding */
    display: flex; /* Mostrar elementos en una línea */
    justify-content: center; /* Centrar elementos */
  }
  
  .menu-elem {
    margin-right: 20px; /* Espacio entre elementos */
  }
  
  .menu-icon {
    font-size: 18px; /* Tamaño de icono */
    color: #666; /* Color de icono */
    text-decoration: none; /* Quitar subrayado */
  }
  
  /* Estilos para el texto */
  .text {
    font-size: 16px; /* Tamaño de texto */
    color: #333; /* Color de texto */
    margin-top: 10px; /* Espacio entre texto y icono */
  }
  
  /* Estilos para el icono de shop */
  .bi.bi-shop {
    font-size: 24px; /* Tamaño de icono */
    color: #666; /* Color de icono */
    margin: 0 10px; /* Espacio entre icono y texto */
  }
/* Fin del Footer */