/* Inicio del Footer */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #fff;
}

.footer {
    position: relative;
    width: 100%;
    background: #fc00bd;
}
/* Fin del Footer */