*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background: #DCE35B;
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    background: linear-gradient(to right, #45B649, #DCE35B);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    overflow-y: hidden; /* Oculta el scroll vertical que genera el navegador */
    
}
.container{
    display: flex; /* Hace que el contenido se ajuste automáticamente */
    flex-direction: column; /* Establece la dirección del contenido */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    min-height: 100vh; /* Establece un alto minimo del 100% de la pantalla */
    max-width: 100vh;
    max-height: 100vh; /* Establece un alto máximo del 100% de la pantalla */
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: 570px;
    background: rgb(0, 0, 0,0.83);
    color: #fff;
    padding: 80px 30px 25px 30px;
    border-radius: 20px;
}
@media screen and (max-width: 60rem){
    .container{
        width: 100%;
        margin: 0;
    }
    .login-box{
        width: 100%; /* Establece el responsividad a telefonos o tablets */
    }
}
.header-img{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-img img{
    max-width: 130px; /* Establece un ancho máximo de 100px */
    max-height: 130px; /* Establece un alto máximo de 100px */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
.col-md-12{
    max-width: 100%;
}
.header-text{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.input-group{
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-field{
    height: 40px;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 15px 0;
    padding: 0 15px;
    outline: none;
}
.input-field:focus,.input-field:valid{
    border-bottom: 2px solid #d1e710;
}
.input-group label{
    font-size: 16px; /* Establece un tamaño de fuente adecuado */
    margin-bottom: 10px; /* Agrega un espacio entre el label y el input */
    max-width: 100%;
    position: absolute;
    top: 23px;
    left: 3px;
    transition: .3s;
}
.input-group input {
    padding: 10px; /* Agrega un padding adecuado a los inputs */
    font-size: 16px; /* Establece un tamaño de fuente adecuado */
  }
.toggle-eye{
    position: absolute;
    top: 20px;
    right: 27px;
    font-size: 22px;
}
.toggle-eye.close{
    transition: 0.4s all ease-in-out;
}
.toggle-eye.open{
    transition: 0.2s all ease-out;
}
.input-field:focus ~ label,.input-field:valid ~ label{
    top: 5px;
    font-size: 12px;
    color: #d1e710;
}
.forgot-pass{
    text-align: right;
    margin-bottom: 10px;
}
.forgot-pass a{
    color: #e9f76a;
    font-size: 12px;
}
.input-submit{
    height: 40px;
    border-radius: 30px;
    border: none;
    background: #d1e710;
    margin-top: 20px;
    cursor: pointer;
    transition: .4s ease-out;
}
.input-submit:hover{
    box-shadow: 0 1px 10px rgb(254, 201, 26,0.5);
}
.btn {
    max-width: 200px; /* Establece un ancho máximo de 200px */
    padding: 10px 20px; /* Agrega un padding adecuado al botón */
    font-size: 16px; /* Establece un tamaño de fuente adecuado */
  }