* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);
    font-family: 'Fira Sans', sans-serif;
}

.form-container {
    background-color: #222;
    background: url(../img/login.jpg) no-repeat;
    height: 550px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.form-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: left bottom;
    background-size: cover;
    opacity: 0.8;
}

.signup-container {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    transition: 0.3s ease;
}

.form-container .form-title {
    color: #7DDA58;
    text-align: center;
    font-size: 28px;
}

.form-container .form-holder {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;
    transition: 0.3s ease;
}

.form-container .form-holder input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 45px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.form-container .form-holder input:last-child {
    border-bottom: 0;
}

.form-container .form-holder input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.form-container .submit-btn {
    background-color: #63b28b;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 100%;
    display: block;
    padding: 15px 45px;
    margin: 15px auto;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}