.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar{
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #fcfcfcda;
}

@media (min-width: 991px){
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgb(187, 255, 0);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.font-weight-bolder {
    color: #ff1493;
}

.carousel-inner {
    height: 200vh; /* ajusta el alto del contenedor del carousel */
  }
  
.carousel-item {
    height: 200vh; /* ajusta el alto de cada item del carousel */
}
  
.carousel-item img {
    object-fit: cover; /* ajusta el tamaño de la imagen para que cubra todo el espacio */
    width: 200%; /* ajusta el ancho de la imagen */
    height: 200%; /* ajusta el alto de la imagen */
}
  
.mask {
    width: 200%; /* ajusta el ancho del contenedor del mask */
    height: 200%; /* ajusta el alto del contenedor del mask */
    background-color: #000; /* ajusta el color de fondo del mask */
    opacity: 0.5; /* ajusta la opacidad del mask */
}