.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar{
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.nav-link {
    color: #ffffff;
    font-weight: 600;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #fcfcfcda;
}

@media (min-width: 991px){
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgb(187, 255, 0);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.font-weight-bolder {
    color: #ff9900;
    border: 2px solid #000000; /* Borde negro */
    padding: 10px;
    font-size: 18px;
}
/* fIN DE MENU */

/* Inicio de Principal */

.carousel-inner {
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
/* fIN DE PRINCIPAL */