/* Inicio de  la pagina Principal */

body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}


.font-weight-bolder {
    color: #ff9900;
}

/* Ajusta el alto del carousel y sus hijos al 100% de la ventana */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item img {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Opcional: para que no bloquee clics */
}

/* Texto más grande en pantallas pequeñas */
body {
    font-size: clamp(1.5rem, 2.5vw, 3rem); /* Base tamaño de la fuente que varia de forma fluida */
}

@media (max-width: 600px) {
    body {
        font-size: 0.875rem; /* Ajustar el tamaño del texto en pantallas pequeñas */
    }
}

.carousel-caption {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}
@media (max-width: 600px) {
    .carousel-caption {
        font-size: 0.875rem;
    }
}
/* fIN DE la pagina PRINCIPAL */